<h1>Show Product | <%= @product.title %></h1>
<% if @product.photo.attached? %>
  <%= image_tag @product.photo %>
<% end %>
<%= link_to "home", products_path %>
<hr>
<p><%= @product.description %></p>
<span>$<%= @product.price %></span>
<%= link_to "edit", edit_product_path(@product.id) %>
<%= link_to "eliminar", product_path(@product.id), data: { 
  turbo_method: :delete
} %>


